body {
    background-image: url("https://www.unicamp.br/unicamp/sites/default/files/inline-images/Matem%C3%A1tica2.jpeg");
    margin:0 auto;
    margin-top:-16.5px ;
    margin-bottom: 0px;
    width: 100%;
    height: 100%;
}
header{
	display: block;
}
.backgroundtotal{
    width: auto;
    height: auto;
    background-color: rgba(0, 0, 0, 0.856);
}
/** Aqui está o fundo ^^   */
/** ______________________________ */
/** Menu Principal à BAIXO */
.menu-principal {
    width: 100%;
    background-color: rgba(105, 105, 105, 0.856);
    height: 143px;
    border-bottom:5px solid rgba(0, 0, 0, 0.575);
    margin-bottom: -16px;
}
main {
    margin: 0 auto;
    width: 1100px;
    position: relative;    
}
.logo img{
    width: 230px;
}
.logo{
    float:left;
    padding-left: 20px;
    padding-top: 18px;
    width: 79%;
}
#SetaDeVoltar{
    position: relative;
    float: left;
    margin-left: 100px;
    margin-top: 40px;
}
/** Finalzia Menu Principal */
/** ______________________________ */
/** Redes sociais à BAIXO */
.redes_sociais ul li{
    padding-top: 5px;
    margin: left 50px;
    margin-right: 15px;
    width: 6%;
    display: inline block;
    float: right;
    list-style:none;
} 
.redes_sociais img{
    width: 100%;
    float:right;
}
/** Finaliza Redes Sociais */
/** ______________________________ */
/** Conteúdo */
.HeaderDoConteudo{
    display: grid;
    height: 65px;
    width: 100%;
    margin:auto;
    margin-top: 22px;
    background-color: rgba(105, 105, 105, 0.856);
    float:left;
    border-bottom:5px solid rgba(0, 0, 0, 0.575);
}
.HeaderDoConteudo a{
    color:#DCDCDC;
    text-align: center;
    text-transform: uppercase;
    font-family: fantasy;
    font-size: 2.8rem;
    float:left;
    width: 100%;
    margin-left: auto;
    margin-top:19px;
}
/**Finaliza Conteúdo*/
/** ______________________________ */
/** Código será aqui */
#total{
    background-color:#696969da;
    width: 100%;
    padding-bottom: 10px;
    margin-top: 105px;
    margin-bottom: 10px;
    border-radius: 10px;
}
#imgfigura{
    display:grid;
    width: 550px;
    height: 450px;
    border-radius: 20px;
    border: 8px solid black;
    margin-left: 247px;
}
#imgfigura img{
    width: 100%;
    height: 100%;
    background-color:#b0e0e6;
    border-radius: 10px;   

}
#Calculo{
    height: 100%;
    background-color:lightslategrey;
    border: 5px solid black;
    margin-left: 5px;
}
#Equacao{
    display:grid;
    width: 350px;
    height:300px;
    border-radius: 10px;
    background-color: powderblue;
    border: 5px solid black;
    margin:20px;
}
#JS{
    display:grid;
    width: 630px;
    border-radius: 10px;
    border: 5px solid black;
    margin-left: 370px;
    margin-top: -305px;
}
.TitleTXT{
    color:white;
    text-align: center;
    text-transform: uppercase;
    font-family: fantasy;
    font-size: 2.8em;
    float:left;
    width: 100%;
    margin-left: auto;
    margin-top:19px;  
}
#AoRedorHeader{
    display:inline-flex;
    width: 100%;
    height: 100%;
}
/* começou */
form#a1{
    background-color: powderblue;
    padding: 10px;
    position: inline-flex;
    border-bottom: black 5px solid;
}
#pergunta{
    color:red;
    text-shadow: black 2px 2px;
    font-weight: bold;
    font-size: 1.125em;
    text-align: justify;
    font-family:sans-serif;
    text-transform: uppercase;
    padding: 10px;
    margin-top: -12px; 
}
#NumLado{
    width: 97%;
    height: 35px;
    font-size:0.78125em;
}
#calcular{
    font-family: fantasy;
    text-transform: uppercase;
    border: 5px solid black;
    border-radius: 5px;
    background-color: black;
    position: absolute;
    margin-left:auto;
    margin-right: auto;
}
#botaoCalcular{
    width: 100%;
    height: 100%;
    background-color: white;
    color: black;
    font-size: 1.875em;
    text-transform: uppercase;
    font-family: fantasy;
    position: flex;
}
#resultado{
    width: 60%;
    height: 100%;
    color:red;
    text-shadow: black 2px 2px;
    font-weight: bold;
    font-family:sans-serif;
    text-transform: uppercase; 
    background-color: powderblue;
    position: inline-flex;
    font-size: 1.25em;
    text-align: justify;
    padding: 10px;
}
#a2 p{
    display:block;
    margin: auto;
}
#ArrumaEquacao{
    margin-left:100px;
}
#ResultArea{  
    background-color: black;
    color:white;
    text-align: center;
    width: auto;
    height: 35px;
    border: 2px solid grey;
    border-radius: 10px;
    text-transform: none;
}
#ResultPerimetro{
    background-color: black;
    color:white;
    text-align: center;
    width: auto;
    height: 35px;
    border: 2px solid grey;
    border-radius: 10px;
    text-transform: none;
}
/** Finaliza Código será aqui */
/** ______________________________ */
/** Rodape à BAIXO*/
.HeaderDeBaixo{
    width: 100%;
    height: 143px;
    background-color: rgba(105, 105, 105, 0.856);
    border-top:5px solid rgba(0, 0, 0, 0.575);
    border-bottom:5px solid rgba(0, 0, 0, 0.575);
}
/** Finaliza Rodape */
/** ______________________________ */
/** Sobre à BAIXO*/
#Sobre{
    color: #DCDCDC;
    text-decoration: none;
    text-align: left;
    font-size: 2.8rem;
    text-transform: uppercase;
    font-family: fantasy;
    position:absolute;
    margin-left:auto;
    margin-top: 53.5px;
}
#Sobre:hover {
    color: black;
    border-bottom: 3px solid black;
}
#IFPR{
    height: 134px;
    float:right;
    margin: 5px;
    margin-right: 189px;
}
#IFPR:hover{
    background-color: black;
}
#Develpoed{
    color: #DCDCDC;
    text-align: center;
    font-size: 1.2rem;
    display:flow-root;
    margin-top: 125px;
    margin-left: auto;
}
/** Finaliza Sobre */
/** ______________________________ */
/** Responsive */
@media screen and (min-width: 320px){
    main {
        width:210px;  
    }
    body{
        width: 100%;
    }
    html {
        font-size: 0.35em;
    }
    .logo img{
        margin-top:10px;
        width: 130px;
    }
    .logo{
        margin-top: -100px;
        margin-left: -35px;
    }
    .redes_sociais img{
        width: 100%;
        margin-right: -40px;
    }
    .redes_sociais ul li{
        margin-right:-3px;
        margin-top: -40px;
    } 
    .redes_sociais{
        margin-left: -500px;
    }
    .menu-principal {
        height: 105px;
    }
    .HeaderDeBaixo{
        height: 105px;
    }
    #IFPR{
        margin-top:-100px;
        width: auto;
        height: 100px;
        margin-right: auto;
    }
    #Develpoed{
        margin-top:95px;
    }
    #SetaDeVoltar{
        position: relative;
        width: 100%;
        margin-left: 0px;
        margin-top: 80px;
    }
    #SetaDeVoltar img{
        width: 10%;
    }
    #imgfigura{
        display:grid;
        width: 160px;
        height: auto;
        border-radius: 20px;
        border: 8px solid black;
        margin-left: auto;
        margin-right: auto;
    }
    #imgfigura img{
        height: auto;
    }
    #ParteJS{
        width: 100%;
        height: 100%;
    } 
    #Calculo{
        width: 190px;
        padding-bottom: 10px;
        margin-top:10px;
        height: 525px;
    }  
    #JS{
        display:grid;
        width:170px;
        height:auto;
        border-radius: 0px;
        border: 5px solid black;
        margin-left: -5px;
        margin-top: 20px;
    }
    #Equacao img{
        width: 170px;
        height: auto;
    }
    #Equacao{
        display:grid;
        width: 170px;
        height:140px;
        border-radius: 10px;
        background-color: powderblue;
        border: 5px solid black;
        margin:0px;
        margin-left: auto;
        margin-right: auto;
    }
    #calcular{
        width: 75px;
        height: 25px;
        font-family: fantasy;
        text-transform: uppercase;
        border: 2px solid black;
        border-radius: 5px;
        background-color: black;
        position: relative;
        margin-top: 10px;
    }
    form#a1{
        width: 100%;
        max-width: 150px;
        height: auto;
        max-height: 220px;
    }
    #Sobre{
        margin-left:auto;
        margin-top:-50px;
    } 
    .HeaderDoConteudo{
        height: 40px;
        max-width:210px;
    }
    #AoRedorHeader{
        padding: 0px;
        margin-top: 20px;
    }
    #total{
        position: relative;
        margin-top: 85px;
        background-color:#696969da;
        width: 100%;
        margin-bottom: 10px;
        border-radius: 10px;
        padding-bottom: 10px;
    }
    #pergunta{
        text-align: center;
        max-width: 220px;
        text-shadow:none;
    }
    #resultado{
        width: 100%;
        height: auto;
        max-height: 220px;
        color:red;
        text-shadow:none;
        font-weight: bold;
        font-family:sans-serif;
        text-transform: uppercase; 
        background-color: powderblue;
        position: inline-flex;
        font-size: 1.25em;
        text-align: justify;
        padding: 0px;
        padding-bottom: 5px;
        padding-top:5px;
    }
    #a2 p{
        max-width: 130px;
    }
    #NumLado{
        width: 70px;
        height: auto;   
        display: flex;
        margin:auto
    }
    #botaoCalcular{
        text-align: center;
        width: 75px;
    }
    #ArrumaEquacao {
        margin-left: 0px;
        margin-right: 0px;
    }
    #ArrumaEquacao img{
        width:100px;
        height: auto;
    } 
}
@media screen and (min-width:375px) {
    main {
        width:280px;  
    }
    html {
        font-size: 0.4em;
    }
    .logo{
        margin-left:-10px;
    }
    .logo img{
        width: 140px;
    }
    .redes_sociais img{
        margin-right: -20px;
    }
    .redes_sociais ul li{
        margin-top: -45px;
    }   
    .menu-principal {
        height: 105px;
    }
    .HeaderDeBaixo{
        margin-top: auto;
        height: 105px;
    }
    #SetaDeVoltar{
        position: relative;
        width: 100%;
        margin-left: 0px;
        margin-top: 80px;
    }
    #SetaDeVoltar img{
        width: 10%;
    }
    #imgfigura{
        width: 230px;
        margin-left: 17px;
    }
    #Equacao img{
        width: 240px;
    }
    #Equacao{
        width: 240px;
        height:200px;
    }
    form#a1{
        max-width: 220px;
    }
    #AoRedorHeader{
        margin-top: 20px;
    }
    #botaoCalcular{
        width: 110px;
    }
    #pergunta{
        max-width: 240px;
    }
    .HeaderDoConteudo{
        height: 40px;
        max-width:280px;
    }
    #a2 p{
        max-width: 220px;
    }
    #Calculo{
        width: 260px;      
        height: 550px;
    }
    #JS{
        width:240px;
    }
    #NumLado{
        font-size: 1.5em;
        width: 105px;
    }
    #calcular{
        width: 109px;
        margin-top: 10px;
    }
    #ArrumaEquacao img{
        width:120px;
    }
    img{
        width: 120px;
    }
}
/** SMALL DEVICES – SMARTPHONES */
@media (min-width: 480px) {
    main {
        width:390px;  
    }
    html {
        font-size: 0.5em;
    }
    .HeaderDeBaixo{
        margin-top: 5px;
        height: 120px;
    }
    .logo img{
        width: 190px;
        margin-top: -10px;
    }
    .redes_sociais img{
        margin-right: 10px;
    }
    .redes_sociais ul li{
        margin-top: -53px;
    }
    #imgfigura{
        width: 320px;
        margin-left: 27px;
    }
    #Equacao{
        width: 330px;
        height:200px;
    }
    form#a1{
        max-width: 310px;
        max-height: 250px;
    }
    #pergunta{
        max-width: 310px;
    }
    #botaoCalcular{
        width: 130px;
    }
    #a2 p{
        max-width: 250px;
        margin-top: 0px;
    }
    #ResultPerimetro{
        height: 53px;
    }
    #ResultArea{
        height: 53px;
    }
    .HeaderDoConteudo{
        height: 70px;
        max-width: 390px;
        margin-top: 10px;
    }
    .HeaderDoConteudo a{
        margin-top: 30px;
    }
    #total{
        margin-top: 120px;
    }
    #Calculo{
        width: 360px;      
        height: 620px;
        margin-left: 10px;
    }
    #JS{
        width:330px;
        margin-left: -5px;  
    }
    #NumLado{
        width: 125px;
        height: 20px;
    }
    #calcular{
        width: 129px;
        margin-top: 10px;
    }
    #ArrumaEquacao img{
        width:130px;
    }
    img{
        width: 130px;
    }
}
/** SMALL DEVICES – TABLETS */
@media (min-width: 768px) {
    main {
        width:590px;  
    }
    html {
        font-size: 0.7em;
    } 
    .HeaderDeBaixo{
        margin-top: 5px;
        height: 140px;
    }
    .menu-principal {
        height: 140px;
    }
    .logo img{
        width: 210px;
    }
    .redes_sociais img{
        width: 100%;
        margin-right: -40px;
    }
    .redes_sociais ul li{
        margin-right:5px;
        margin-top: -60px;
    } 
    .redes_sociais{
        margin-right: 50px;
    }
    #IFPR{
        height: 125px;
    }
    header.menu-principal {
        margin-top: -22px;
    }
    .HeaderDoConteudo{
        margin-top: 20px;
        height: 90px;
        max-width: 590px;
    }
    .HeaderDoConteudo a{
        margin-top:40px;
    }
    #imgfigura{
        width: 520px;
        margin-left:27px;
    }
    #Equacao{
        width: 240px;
        height:220px;
    }
    form#a1{
        max-width: 510px;
        max-height: 160px;
    }
    #pergunta{
        max-width: 510px;
        font-size:2em;
    }
    #resultado{
        width: 100%;
        max-height: 400px;
        font-size: 1.6em;
    }
    #botaoCalcular{
        width: 100%;
        height: 100%;
    }
    #a2 p{
        max-width: 342px;
        margin-top: 0px;
    }
    #ResultPerimetro{
        width: 330px;
        height: 103px;
    }
    #ResultArea{
        width: 330px;
        height: 103px;
    }
    p#ResultPerimetro{
        margin-top: 0px;
    }
    p#ResultArea{
        margin-top: 0px;
    }
    #total{
        margin-top: 130px;
    }
    #Calculo{
        width: 560px;      
        height: 885px;
        margin-left: 10px;
    }
    #JS{
        width:530px;
        height: 540px;
        margin-left: -150px;  
        margin-top: 30px;
    }
    #NumLado{
        width: 155px;
        height: 40px;
    }
    #calcular{
        width: 177px;
        height: 50px;
        margin-top: 5px;
    }
    #ArrumaEquacao img{
        width:150px;
    }
    img{
        width: 150px;
    }
}
/** MEDIUM DEVICES – TABLETS & DESKTOPS */
@media (min-width: 960px) {
    main {
        width:750px;  
    }
    html {
        font-size: 0.7em;
    } 
    .menu-principal {
        height: 145px;
    }
    .logo img{
        width: 220px;
        margin-top: -25px;
    }
    header.menu-principal {
        margin-top: -20px;
    }
    .HeaderDoConteudo{
        height: 90px;
    }
    .HeaderDoConteudo{
        margin-top: 20px;
        height: 90px;
        max-width: 799px;
    }
    .HeaderDoConteudo a{
        margin-top:40px;
    }
    #imgfigura{
        width: 520px;
        margin-left:107px;
    }
    form#a1{
        max-width: 670px;
    }
    #pergunta{
        max-width: 670px;
    }
    #resultado{
        font-size: 1.8em;
    }
    #a2 p{
        max-width: 512px;
    }
    #ResultPerimetro{
        width: 600px;
        height: 103px;
    }
    #ResultArea{
        width: 600px;
        height: 103px;
    }
    #Calculo{
        height: 910px;
        width: 720px;      
    }
    #JS{
        width:690px;
        height: 550px;
        margin-left: -230px;  
    }
    #NumLado{
        font-size: 1.5em;
        width: 245px;
    }
    #calcular{
        width: 267px;
        height: 50px;
        margin-top:10px;
    }
    #ArrumaEquacao img{
        width:190px;
    }
    #ArrumaEquacao{
        margin-left:31vh;
    }
    img{
        width: 150px;
    }
}
/** LARGE DEVICES- WIDE SCREENS */
@media (min-width: 1024px) {
    main {
        width:850px;  
    }
    html {
        font-size: 0.6em;
    } 
    .logo{
        margin-top: -80px;
    }
    .redes_sociais{
        margin-right: 100px;
    }
    .redes_sociais ul li{
        margin-top: -75px;
    }
    #SetaDeVoltar{
        width: 50%;
    }
    .HeaderDoConteudo{
        height: 90px;
        max-width: 950px;
    }
    .HeaderDoConteudo a{
        margin-top:40px;
    }
    #Equacao{
        margin-left: 10px;
    }
    #imgfigura{
        margin-left:157px;
    }
    form#a1{
        max-width: 770px;
    }
    #pergunta{
        max-width: 850px;
    }
    #resultado{
        font-size: 2em;
    }
    #a2 p{
        max-width:700px;
    }
    #ResultPerimetro{
        width: 680px;
        height: 94px;
    }
    #ResultArea{
        width: 680px;
        height: 94px;
    }
    #Calculo{
        width: 820px;      
        height: 880px;
    }
    #JS{
        width:790px;
        height: 525px;
        margin-left:-5px;  
    }
    #NumLado{
        font-size: 2em;
        width: 265px;
    }
    #calcular{
        margin-top: 10px;
        width: 287px;
    }
    #ArrumaEquacao{
        margin-left:10px;
    }
    img{
        width: 150px;
    }
}
/** My PC */
@media (min-width: 1920px) {
    main {
        width:1100px;  
    }
    html {
        font-size: 0.7em;
    }   
    .logo{
        margin-top: -100px;
    }
    .redes_sociais{
        margin-right: 100px;
    }
    .redes_sociais ul li{
        margin-top: -75px;
    }
    #SetaDeVoltar{
        width: 50%;
    }
    .HeaderDoConteudo{
        height: 120px;
        max-width: 1100px;
    }
    .HeaderDoConteudo a {
        margin-top: 40px;
    }
    #imgfigura{
        margin-left:282px;
    }
    form#a1{
        max-width: 1020px;
    }
    #pergunta{
        max-width: 1100px;
    }
    #a2 p{
        max-width: 723px;
    }
    #ResultPerimetro{
        width: 730px;
        height: 104px;
    }
    #ResultArea{
        width: 730px;
        height: 104px;
    }
    #Equacao{
        width: 260px;
        margin-left: auto;
    }
    #Calculo{
        width: 1070px;     
        height: 940px; 
    }
    #total{
        margin-top: 170px;
    }
    #JS{
        width:1040px;
        margin-left:-395px;  
        height: 570px;
    }
    #NumLado{
        width: 265px;
    }
    #calcular{
        width: 295px;
        margin-top: 10px;
    }
    #ArrumaEquacao img{
        width:220px;
    }
    #ArrumaEquacao{
        margin-left:425px;
    }
}